<p>
  <b>Nome:</b>
  <%=h @unidades.nome %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @unidades.tipo %>
</p>

<p>
  <b>Regiao:</b>
  <%=h @unidades.regiao %>
</p>


<%= link_to 'Edit', edit_unidades_path(@unidades) %> |
<%= link_to 'Back', unidades_path %>
