
<style media="print">
.botao {
display: none;
}
</style>
<div class="botao">
   <div id="alinha">

          <p style="color: red"><%= flash[:notice] %></p>
          <span class="preload1"></span>
            <span class="preload2"></span>
            <ul id="nav">
              <li class="top"><a href="#nogo53" id="sair" class="top_link"><span class="down">Sair</span></a>
                <ul class="sub">
                  <li><%= link_to 'Incio', root_path,:confirm => "Tem certeza que deseja voltar para tela inicial?" %></li>
                </ul>
              </li>
          
              <li class="top"><a href="#nogo27" id="executar" class="top_link"><span class="down">Cursos</span></a>
                <ul class="sub">
                   <li><%= link_to 'Cadastrar', new_curso_path%></li>
                   <li><%= link_to 'Cadastrados', cursos_path %></li>
                   <li><%= link_to_remote('Consultar', :update => "tela", :url => { :action => "consulta", :controller => 'cursos'}) %></li>

               </ul>
              </li>
              <li class="top"><a href="#nogo2" id="cadastrar" class="top_link"><span class="down">Participantes</span></a>
                <ul class="sub">
                    <li><%= link_to "Cadastrar",  new_participante_path %></li>
                    <li><%= link_to "Cadastrados", participantes_path %></li>
                    <li><%= link_to_remote('Consultar', :update => "tela", :url => { :action => "consulta", :controller => 'participantes'}) %></li>

                </ul>
              </li>
              <li class="top"><a href="#nogo2" id="incrições" class="top_link"><span class="down">Inscrições</span></a>
                <ul class="sub">
                    <li><%= link_to "Inscrever-se",  new_inscricao_path %></li>
                    <li><%= link_to_remote('Por curso', :update => "tela", :url => { :action => "consulta", :controller => 'inscricaos'}) %></li>
                    <li><%= link_to_remote('Estatistica', :update => "tela", :url => { :action => "estatistica", :controller => 'inscricaos'}) %></li>

                </ul>
              </li>
             <li class="top"><a href="#nogo2" id="sobre" class="top_link"><span class="down">Sobre</span></a>
                <ul class="sub">
                    <li><%= link_to_remote('Sobre', :url => { :action => "sobresis", :controller => 'gerenciar'}) %></li>
                </ul>
              </li>
          </ul>
 </div>
</div>

<div id="tela_sobre"></div>
<div id="tela"></div>

