  <% form_for(@cursosparticipa) do |f| %>
       <%= f.error_messages %>
        <table>
            <tr>
             <td>  <b>Nome</b></td>
             <td>  <%= f.text_field :nome %></td>
           </tr>
           <tr>
             <td> <b>Ministrante</b></td>
             <td> <%= f.text_field :ministrante %></td>
           </tr>
           <tr>
             <td> <b>Tipo</b></td>
             <td> <%= f.text_field :tipo %></td>
           </tr>
           <tr>
             <td> <b>Carga Horária</b> </td>
             <td> <%= f.text_field :carga_horaria, :order => [:day, :month, :year] %></td>
           </tr>
           <tr>
             <td> <b>Data/Hora</b> </td>
             <td> <%= f.text_field :data_hora %></td>
           </tr>

           <tr>
              <td valign="top">  <b>Observações</b></td>
              <td>  <%= f.text_area(:obs, :cols =>"33", :rows => "5") %></td>
           </tr>

         </table>
     <% end %>







