<% form_for(@inscricao) do |f| %>
 <%= f.error_messages %>
  <p>
    <b>Participante:</b>
    <% if @participante.present? %>
      <%= @participante.nome %>
      <%= f.hidden_field(:participante_id,:value => @participante.id) %>
    <%else%>
      <%= f.collection_select :participante_id, @participantes, :id, :nome, :include_blank => ' -- Selecione -- ' %>
    <%end%>
    <%= observe_field  :inscricao_participante_id,
                       :with => :inscricao_participante_id,
                       :url => { :action => 'sel_participa' } %>
  </p>
  <p>
    <%if @participante.present?%>
      Matricula: <%=h @participante.matricula %><br/>
      Nome:<%=h @participante.nome %><br/>
      Cidade:<%=h @participante.cidade %><br/>
      Email:<%=h @participante.email %><br/>
      Observações: <%=h @participante.obs %><br/>
    <%else%>
      <div id="informacoes"></div>
    <%end%>
  </p>

  <table class="tabelas" align="center">
    <th colspan="4">Cursos</th>
    <% @cursos.in_groups_of(2, false) do |row_cursos| %>
      <tr>
        <% row_cursos.each do |curso| %>
        <td id="demo" align="left"><%= check_box_tag "inscricao[curso_ids][]", curso.id, @inscricao.cursos.include?(curso), :title => "#{curso.ementa}"%><%= curso.nome_curto %></td>
        <% end %>
      </tr>
    <%end%>
  </table>

  <p>
    <fieldset><legend>Opção de unidades</legend>
      <b>Opção 1</b>
      <%= f.collection_select :opcao1, @locais, :id, :nome, :include_blank => ' -- Selecione -- ' %>
      <b>Turno</b>
      <%= f.select :periodo_opcao1, options_for_select(Inscricao::Periodo), :include_blank => "" %><br/>

      <b>Opção 2</b>
      <%= f.collection_select :opcao2, @locais, :id, :nome, :include_blank => ' -- Selecione -- ' %>
      <b>Turno</b>
      <%= f.select :periodo_opcao2, options_for_select(Inscricao::Periodo), :include_blank => "" %><br/>
    </fieldset>
  </p>

  <p>
    <div id="final"><%= f.submit "Confirmar suas opções"  %></div>
  </p>
<%end%>