  <%if @search.present?%>
  <%= link_to image_tag("/stylesheets/images/pdf.png", :size => "40x40"), gera_pdf_inscricaos_path(:format => "pdf", :curso => @search) %>
  <%= link_to image_tag("/stylesheets/images/excel.gif", :size => "40x40"),@rel.path_truncado %>
  <table class="tabelas">
    <tr><td colspan="4"><h3><%= "No total #{@search.inscricaos.count} estão inscritos neste curso." %></h3></td></tr>
    <tr><td colspan="4"><h4><%= "Para esta seleção #{@contador.count} inscritos." %></h4></td></tr>
    <% unidade = session[:unidade].present? ? Unidade.find(session[:unidade]).nome : "Geral" %>
    <tr><td colspan="3"><%= "Unidade: #{unidade}: " %></td><td><%= "Unidade: #{session[:opcao]}" %></td></tr>

    <tr>
      <th class="numero">Matricula</th>
      <th class="tamanho_tab">Nome</th>
      <th class="tamanho_tab">Opção 1</th>
      <th class="tamanho_tab">Opção 2</th>
    </tr>

    <% @cursos_inscricaos.each do |inscrito| %>
      <tr>
        <td class="numero"><%= inscrito.participante.matricula%></td>
        <td class="tamanho_tab"><%= inscrito.participante.nome%></td>
        <td class="tamanho_tab"><%= "#{Unidade.find(inscrito.opcao1).nome} - #{inscrito.periodo_opcao1}"%></td>
        <td class="tamanho_tab"><%= "#{Unidade.find(inscrito.opcao2).nome} - #{inscrito.periodo_opcao1}"%></td>
      </tr>
    <%end%>
      <tr><td colspan="3"><%= will_paginate @cursos_inscricaos %></td></tr>
  </table>
  <%end%>