<h1>Editing inscricao</h1>

<% form_for(@inscricao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :participante_id %><br />
    <%= f.text_field :participante_id %>
  </p>
  <p>
    <%= f.label :curso_id %><br />
    <%= f.text_field :curso_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inscricao %> |
<%= link_to 'Back', inscricaos_path %>
