<br/>
<table class="tabelas" border="1" width="100%" cellspacing="1">
  <tr>
    <td colspan="2">
      <h1 align="center" style="color:orange">Estatistica das Inscrições</h1>
    </td>
  </tr>
  <th colspan="2" align="center">Nome do curso</th>
      <ul>
        <% @cursos.in_groups_of(2, false) do |row_cursos| %>
          <tr>
            <% for curso in row_cursos %>
              <td>
                <ul>
                  <li id="nome_curso" title="<%=h curso.nome %>"><b><%=h truncate(curso.nome,:length => 50,:omission => "...")%> - </b><%= link_to_function "Mostrar", "hide_field(this,('#curso_#{curso.id}'))" %>
                      <ul class="hide" id="curso_<%= curso.id %>" >
                        <%= render "inscritos", :f => curso %>
                      </ul>
                      <li>Inscritos neste curso - <%= curso.inscricaos.count %></li>
                  </li>
                </ul>
              </td>
            <% end %>
          </tr>
        <%end%>
      </ul>
  <tr>
    <td colspan="2"><b> Total de inscrições: <%= @inscricaos.count %></b> </td>
  </tr>
</table>
<div class="botao">
  <table width="60%" align="center">
    <tr>
      <td width="8%"><%= button_to 'Voltar', gerenciars_path, {:method => "get"} %></td>
      <td><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
   </table>
</div>
<script>
  $("li[title]").tooltip();
</script>
