<div id="conteudo">
<fieldset> <legend><font size=6> Inscrições Realizadas</font></legend>
  <br/>
   <%= button_to 'Nova Inscrição', new_inscricao_path %>
   <br/>
    <table border="2">
      <tr>
        <td bgcolor="gray">Participante</td>
        <td bgcolor="gray">Curso</td>
        <td bgcolor="gray">Tipo</td>
         <td bgcolor="gray">Data da Inscrição:</td>
      </tr>
      <% for inscricao in @inscricaos %>
      <tr>
       <td bgcolor="gray"><%=h inscricao.participante.nome %></td>
       <td bgcolor="gray"><%=h inscricao.curso.nome %></td>
       <td bgcolor="gray"><%=h inscricao.curso.tipo %></td>
       <td bgcolor="gray"><%=h inscricao.data_inscricao.strftime("%d de %B de %Y") %> </td>
     </tr>
     <tr>
       <td bgcolor="gray"colspan="5">
         |<%= link_to 'Exibir', inscricao %>|
         <!--<%= link_to 'Apagar', inscricao, :confirm => 'Confirma?', :method => :delete %>|-->

     </tr>
     <% end %>
    </table>
</fieldset>
   <%= button_to 'Nova Inscrição', new_inscricao_path %>
</div>


