 <br/>
 <br/>
 <table width="70%" border="1" frame="box" rules="all" align="center">
   <tr>
     <td>
        <h1 align="center">Confirmação da Inscrição</h1>
      </td>
   </tr>
   <tr>
      <td>
       <table width="100%" border="1">
         <br/>
           <tr>
             <th colspan="2"><b>Participante:</b></th>
           </tr>
           <tr>
             <td colspan="2">
              <%=h  @inscricao.participante.nome %>
             </td>
           </tr>
      <tr>
          <th colspan="2">Cursos:</th>
      </tr>
          <% @inscricao.cursos.each do |curso| %>
              <tr>
                <td colspan="2" align="center">
                  <b><%=h curso.nome %></b>
                </td>
              </tr>
            <tr>
              <td><%=h "Opção1: #{@inscricao.opcao1.nome} - #{@inscricao.periodo_opcao1}" %></td>
              <td><%=h "Opção2: #{@inscricao.opcao2.nome} - #{@inscricao.periodo_opcao2}" %></td>
            </tr>
          <% end %>
          <tr>
              <td><b>Inscrição efetuada em:</b></td>
              <td>  <%=h  @inscricao.data_inscricao.strftime("%d de %B de %Y") %> </td>
          </tr>
          <tr>
            <td colspan="2">
              <b>Você já está pré-inscrito nos módulos acima, a partir do momento que os mesmos forem efetivados, enviaremos uma notificação via e-mail. Todas estas informações foram enviadas ao email informado.</b>
            </td>
          </tr>
       </table>
     </td>
   </tr>
  </table>
  <div class="botao">
   <table width="70%" align="center">
    <tr>
       <td width="8%"><%= button_to 'Nova Inscrição', new_inscricao_path  %></td>
       <td><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
 </div>






