<div id="conteudo">
  <br/>
    <h1 align="center">Cadastro de Região </h1>
    
  <br/>
 <% form_for(@regiao) do |f| %>
  <%= f.error_messages %>

  <p>
  <fieldset>
   <legend><font size=4>Região</font></legend>
   <p>
   <%= f.label :nome, 'Nome' %><br />
    <%= f.text_field :nome %>
   </p> 
   </fieldset>
  </p>
  <p>
   <fieldset>
     <p>
    <%= f.submit "Cadastrar" %>
    </p>
   </fieldset>
  </p>
<% end %>
<br/>
| <%= link_to 'Voltar', root_path %> |
</div>
