<div id="conteudo">
<fieldset> <legend><font size=6>Confirmação da Inscrição</font></legend>
 
  <td width="400">
   <table>
     <br/>
     <tr>
       <td><b>Participante:</b></td>
       <td>  <%=h  @inscricao.participante.Nome %> </td>
     </tr>
     <tr>
       <td><b>Curso:</b></td>
       <td>  <%=h  @inscricao.curso.Nome %> </td>
     </tr>
     <tr>
       <td><b>Ano:</b></td>
       <td>  <%=h  @inscricao.curso.Ano.strftime("%Y") %> </td>
     </tr>
     <tr>
       <td><b>Observações:</b></td>
       <td>  <%=h  @inscricao.curso.Obs %> </td>
     </tr>
     <tr>
       <td><b>Data da Inscrição:</b></td>
       <td>  <%=h  @inscricao.data_inscricao.strftime("%d de %B de %Y") %> </td>
     </tr>
    <br/>
   </table>
 
</fieldset>
 <%= button_to 'Voltar', voltarinscricao_path %>
</div>