<br/>
<font size="4"><b><u> Resultado da Consulta</b</u></font>
  <br/>  <br/>
   <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
      <tr>
        <th>Nome</th>
        <th>Ministrante</th>
        <th>Tipo </th>
        <th>Carga Horaria</th>
        <th>Data/Hora</th>
        <th>Observações</th>
      </tr>
     <% for curso in @cursos %>
     <tr>
       <td><center><%=h curso.nome %></center></td>
       <td><center><%=h curso.ministrante %></center></td>
       <td><center><%=h curso.tipo %></center></td>
       <td><center><%=h curso.cargaHoraria.strftime("%H:%M") %> horas</center></td>
       <td><center><%=h curso.data_hora.strftime("%d de %B de %Y - %H:%M horas") %></center></td>
       <td><center><%=h curso.obs %></center></td>
    </tr>
    <% end %>
   </table>





