<div id="conteudo">
  <br/>
    <h1 align="center">Alteração do Cadastro de Grupos</h1>
    
  <br/>
<p>
  <fieldset>
   <legend><font size=4>Grupo</font></legend>
  <% form_for(@grupo) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :descricao, 'Descricao' %><br />
    <%= f.text_area :descricao %>
  </p>

  
</fieldset>
<br/>
  <fieldset>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
  </fieldset>
</p>
<br/>
| <%= link_to 'Exibir', @grupo %> 
| <%= link_to 'Voltar', grupos_path %> |
</div>
<% end %>
