<div id="conteudo">
<style media="print">
  .botao
  {
    display: none;
  }
</style>

  <br/>
    <h1 align="center">Relatório Grupos</h1>
  <br/>
  <p>
    <input type="Button" Value="Imprimir" onclick="Imprimir()">
    
  <div class="botao">
   <table width="100%">
      <tr>
        <td width="50%"></td>
        <td width="50%" align="right">
          <% form_tag grupos_path, :method => 'get' do %>
           <p>
              <%= hinted_text_field_tag(:search, params[:search], "Nome do Grupo", :size => 30) %>
              <%= submit_tag "Filtrar", :name => nil %>
           </p>
          <% end %>
        </td>
      </tr>
    </table> 
   </div>

  <fieldset>
   <legend><font size=4 >Grupos</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="100%" >
      <tr>
        <th bgcolor="gray" colspan="1">Nome</th>
        <th bgcolor="gray" colspan="2">Descricão</th>
      </tr>
      <% for grupo in @grupos %>
        <tr>
          <td colspan="1" align="center"><%=h grupo.nome %></td>
          <td colspan="2" align="center"><%=h grupo.descricao %></td>
        </tr>
        <tr>
          <td bgcolor="white"><%= link_to '|Exibir', grupo %>
          <td bgcolor="white"><%= link_to '|Alterar', edit_grupo_path(grupo) %></td>
          <!-- <td bgcolor="white"><%= link_to '|Apagar|', grupo, :confirm => 'Tem certeza?', :method => :delete %></td>!-->
        </tr>
      <% end %>
    </table>
   </fieldset>
  </p><br />
  <%= will_paginate @grupos %>
    <input type="Button" Value="Imprimir" onclick="Imprimir()">
</div>
