<h1>New cursos_inscricao</h1>

<% form_for(@cursos_inscricao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :curso %><br />
    <%= f.text_field :curso %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cursos_inscricaos_path %>
