 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Cursos Cadastrados</h1>
      </td>
   </tr>
   <tr>
      <td>
         <table border="2" width="100%">
      <tr>
        <th>Nome</th>
        <th>Ministrante</th>
        <th>Tipo</th>
        <th>Carga Horaria</th>
        <th>Data/Hora</th>
        <th>Observações</th>
      </tr>
     <% for curso in @cursos %>
     <tr>
       <td><center><%=h curso.nome %></center></td>
       <td><center><%=h curso.ministrante %></center></td>
       <td><center><%=h curso.tipo %></center></td>
       <td><center><%=h curso.carga_horaria %> horas</center></td>
       <td><center><%=h curso.data_hora.strftime("%d de %B de %Y - %H:%M horas") %></center></td>
       <td><center><%=h curso.obs %></center></td>
    </tr>
    <tr>
       <td bgcolor="gray"colspan="6">
        <table>
          <td><%= button_to('Exibir',{:action => "show", :id =>curso}, :method => "get") %></td>
          <td> <%= button_to('Editar',{:action => "edit", :id =>curso}, :method => "get") %></td>
          <td><%= button_to('Excluir',{:action => "destroy", :id =>curso}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
        </table>


       </td>
    </tr>
    <% end %>
 </table>

     </td>
   </tr>
  </table>
   <table width="90%" align="center">
    <tr>
     <td width="8%"><%= button_to 'Novo curso', new_curso_path %></td>
      <td><%= button_to 'Voltar', gerenciars_path, {:method => "get"}%></td>
    </tr>
  </table>


