<br/>
 <br/>
 <table width="60%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Inscrição</h1>
      </td>
   </tr>
   <tr>
      <td>
    <table border="2" align="center">
      <td>
     <p>
       <b>Nome:</b>
         <%=h @curso.nome %>
     </p>
      <p>
        <b>Ministrante:</b>
          <%=h @curso.ministrante %>
      </p>
     <p>
        <b>Tipo</b>
          <%=h @curso.tipo %>
      </p>

      <p>
        <b>Carga Horaria:</b>
          <%=h @curso.carga_horaria.strftime("%H:%M") %>horas
      </p>
      <p>
        <b>Data e Horário:</b>
          <%=h @curso.data_hora.strftime("%d de %B de %Y - %H:%M horas") %>
      </p>
      <p>
        <b>Observações:</b>
          <%=h @curso.obs %>
      </p>
     </td>
   </table>
     </td>
   </tr>
  </table>
  <table width="60%" align="center">
    <tr>
     <td><%= button_to 'Voltar', :back %></td>
     <td align="right"><%= button_to('Editar', {:action => "edit", :id => @curso}, :method => "get") %></td>
     <td align="right"> <%= button_to 'Novo curso', new_curso_path %></td>
    </tr>
  </table>

