<% form_for(@pesquisa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>

    <% f.fields_for :perguntas do |builder| %>
      <%= render "campos_pergunta", :f => builder %>
    <%end%>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
