<div id="conteudo1">
   <fieldset>
   <legend><font size=6>Editar Curso</font></legend>
     <table border="2">
      <td>
       <% form_for(@curso) do |f| %>
       <%= f.error_messages %>
       <table>
        <br/>
        <tr>
          <td><%= f.label :Nome%></td>
          <td><%= f.text_field :Nome %></td>
         <tr>
           <td><%= f.label :Ministrante %></td>
           <td><%= f.text_field :Ministrante %></td>
         </tr>
         <tr>
          <td>Carga Horária </td>
          <td><%= f.time_select :CargaHoraria  %>horas   --
              <%= f.label  :Ano %>
              <%= f.date_select :Ano, :order => [:year] %></td>
        </tr>
        <tr>
           <td valign="top"><%= f.label :Observações %></td>
           <td><%= f.text_area(:Obs, :cols =>"33", :rows => "5") %></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><%= f.submit "Salvar" %></td>
        </tr>
      </table>
     <% end %>
    </td>
    <td VALIGN=TOP>
     <font size="4"><u>OBSERVAÇÕES:</u></font> <br /> <br />
          1. UTILIZAR  SOMENTE LETRAS MAIÚSCULAS<br />
          2. DIGITAR SEMPRE DADOS COMPLETOS<br/>
          3. NÃO UTILIZAR ACENTUAÇÃO, TIL E CEDILHA<br />
          4. NÃO UTILIZAR ABREVIAÇÕES<br />
          5. NO CAMPO OBSERVAÇÕES INFORMAR: <br/>
             > DATA DE REALIZAÇÃO DO CURSO<br/>
             > LOCAL DE REALIZAÇÃO DO CURSO<br/>
             > QUEM PROVOME O CURSO<br/>
             > INFORMAÇÕES IMPORTANTES DO CURSO
    </td>
    </table>
   </fieldset>
   <table>
     <td><%= button_to('Exibir',{:action => "show", :id =>@curso}, :method => "get") %></td>
     <td><%= button_to 'Voltar', voltar_path %></td>
   </table>


</div>

