<div id="conteudo2">
<fieldset>
  <legend><font size=6>Cadastro de Cursos</font></legend>
  <br/>
    <table>
      <td> <%= button_to 'Novo curso', new_curso_path %></td>
        <% if $var == 0 %>
          <td><%= button_to 'Voltar', new_gerenciar_path %></td>
    <% end %>
 </table>

    <table border="2">
      <tr>
        <th>Nome</th>
        <th>Ministrante</th>
        <th>Carga Horaria</th>
        <th>Ano</th>
        <th>Observações</th>
      </tr>
     <% for curso in @cursos %>
     <tr>
       <td><center><%=h curso.Nome %></center></td>
       <td><center><%=h curso.Ministrante %></center></td>
       <td><center><%=h curso.CargaHoraria.strftime("%H:%M") %> horas</center></td>
       <td><center><%=h curso.Ano.strftime("%Y") %></center></td>
       <td><center><%=h curso.Obs %></center></td>
    </tr>
    <tr>
       <td bgcolor="gray"colspan="5">
        <table>
          <td><%= button_to('Exibir',{:action => "show", :id =>curso}, :method => "get") %></td>
          <td> <%= button_to('Editar',{:action => "edit", :id =>curso}, :method => "get") %></td>
          <td><%= button_to('Excluir',{:action => "destroy", :id =>curso}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
        </table>


       </td>
    </tr>
    <% end %>
 </table>

  <br />

</fieldset>
    <table>
      <td> <%= button_to 'Novo curso', new_curso_path %></td>
        <% if $var == 0 %>
          <td><%= button_to 'Voltar', new_gerenciar_path %></td>
    <% end %>
 </table>
</div>