<div id="conteudo1">
   <fieldset>
   <legend><font size=6>Curso</font></legend>
    <table border="2">
      <td>
     <p>
       <b>Nome:</b>
         <%=h @curso.Nome %>
     </p>
      <p>
        <b>Ministrante:</b>
          <%=h @curso.Ministrante %>
      </p>
      <p>
        <b>Carga Horaria:</b>
          <%=h @curso.CargaHoraria.strftime("%H:%M") %>horas
      </p>
      <p>
        <b>Ano:</b>
          <%=h @curso.Ano.strftime("%Y") %>
      </p>
      <p>
        <b>Observações:</b>
          <%=h @curso.Obs %>
      </p>
     </td>
   </table>
   
 </fieldset>
   <table>
     <td><%= button_to 'Voltar', voltar_path %></td>
     <td><%= button_to('Editar', {:action => "edit", :id => @curso}, :method => "get") %></td>
   </table>
</div>