



<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>

  <fieldset>
   <legend><font size=4>Ações</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="100%" >
      <tr>
        <th bgcolor="#cccccc">Login</th>
        <th bgcolor="#cccccc">Ação</th>
        <th bgcolor="#cccccc">Em (Data / Hora)</th>
        <th bgcolor="#cccccc">Criança afetada</th>
      </tr>
      <% for log in @log_user %>
        <tr>
          <td width="16%"><center><%=h log.user.login %></center></td>
          <td width="16%" ><center><%=h log.obs %></center></td>
          <td width="16%"><center><%=h log.data %></center></td>
          <%  if log.crianca_id == 0 then %>
            <td width="50%"><center>TODAS AS CRIANCAS</center></td>
          <%else%>
	    <% @crianca_existe = Crianca.find_by_id(log.crianca_id) %>
	    <%if !(@crianca_existe.nil?) %>
	            <% if log.obs == "Apagado" %>
        	      <td width="50%"><center><%=  log.crianca_id %> - Com a exclusão da criança, impossível exibir seu nome.</center></td>
	            <%else%>
	              <td width="50%"><center><%=  log.crianca_id %> - <%= Crianca.find(log.crianca_id).nome %></center></td>
        	    <%end%>
             <%else%>
        	      <td width="50%"><center><%=  log.crianca_id %> - Com a exclusão da criança, impossível exibir seu nome.</center></td>
	     <%end%>
          <%end%>
        </tr>
        <tr>
          <td bgcolor="#cccccc"><%= link_to 'Exibir', log %></td>
        </tr>
      <% end %>
    </table>
   </fieldset>


<div class="botao">
    <table width="100%">
    <tr>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
  </table>

</div>

