 <br/>
 <br/>
 <table width="78%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Professores Cadastrados</h1>
      </td>
   </tr>
   <tr>
     <td>
     <div class="botao">
     <table>
       <tr>
          <td width="8%"><%= button_to 'Cadastrar', new_participante_path %> </td>
           <td width="8%"><%= button_to 'Inscrição', new_inscricao_path %></td>
           <td width="8%">
              <% if $var == 0 %>
                  <%= button_to 'Voltar', new_gerenciar_path %>
              <%else%>
                  <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
               <% end %>
            </td>
            <td width="11%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
            <td align="right">
              <table width="100%">
                <td align="right">
                      <% form_tag professors_path, :method => 'get' do %>
                        <font size="4"> Professor:</font>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag "Filtrar", :name => nil %>
                      <% end %>
               </td>
             </table>
           </td>
        </tr>
    </table>
    </div>
    </td>
   </tr>
   <tr>
     <td>
        <%  $contador = 0 %>
        <table border="2" width="100%" >
          <tr>
            <th bgcolor="gray">Matricula</th>
            <th bgcolor="gray">Nome</th>
            <th bgcolor="gray">Sede</th>
            <th bgcolor="gray">Fone</th>
          </tr>
          <% for prof in @professors %>
          <tr>
             <td><%=h prof.matricula %></td>
             <td><%=h prof.nome %></td>
             <td><%=h prof.sede_id %></td>
             <td><%=h prof.telefone%></td>
          </tr>

        <tr>
          <td colspan="8">
            <div class="botao">
            <table>
               <td><%= button_to('Exibir',{:action => "show", :id => prof}, :method => "get") %></td>
               <td> <%= button_to('Editar',{:action => "edit", :id => prof}, :method => "get") %></td>
               <td><%= button_to('Excluir',{:action => "destroy", :id => prof}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
           </table>
           </div>
          </td>
        </tr>
       <%  $contador = $contador + 1 %>
       <% end %>
       </table>
      </td>
   </tr>
   <tr>
    <td>
     <div class="botao">
     <table>
       <tr>
          <td width="8%"><%= button_to 'Cadastrar', new_professor_path %> </td>
           <td width="8%"><%= button_to 'Inscrição', new_inscricao_path %></td>
           <td width="8%">
              <% if $var == 0 %>
                  <%= button_to 'Voltar', new_gerenciar_path %>
              <%else%>
                  <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
               <% end %>
            </td>
            <td width="18%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
            <td align="right">
              <table width="100%">
                <td align="right"><b> Total de professores cadastrados: <%= $contador %></b></td>
             </table>
           </td>
        </tr>
     </table>
     </div>
    </tr>
  </table>




