<div id="conteudo1">
   <fieldset>
   <legend><font size=6>Editar Participante</font></legend>
     <table border="2">
      <td>
       <% form_for(@participante) do |f| %>
       <%= f.error_messages %>
        <table>
            <tr>
             <td>  <b><%= f.label :Nome %></b></td>
             <td>  <%= f.text_field :Nome %></td>
           </tr>
           <tr>
             <td>  <b>Endereço</b></td>
             <td>  <%= f.text_field :Endereco %></td>
           </tr>
           <tr>
             <td>  <b>Bairro</b></td>
             <td>  <%= f.text_field :Bairro, :size => 20 %></td>
           </tr>

           <tr>
             <td>  <b>Cidade</b></td>
             <td>  <%= f.text_field :Cidade %></td>
           </tr>
           <tr>
             <td>  <b>Estado</b></td>
             <td>  <%= f.text_field :Estado, :size => 2 %></td>
           </tr>
           <tr>
             <td>  <b>Fone Residencial</b></td>
             <td>  <%= f.text_field :FoneRes, :size => 10 %></td>
           </tr>
           <tr>
             <td>  <b>Fone Comercial</b></td>
             <td>  <%= f.text_field :FoneCom, :size => 10 %></td>
           </tr>
           <tr>
              <td> <b>Celular</b> </td>
              <td> <%= f.text_field :Cel, :size => 10 %></td>
           </tr>
           <tr>
             <td> <b>Local Trabalho</b></td>
             <td> <%= f.text_field :Trabalho %></td>
           </tr>
           <tr>
             <td> <b>Número Matrícula</b> <br/>(Se Func.Público)</td>
             <td> <%= f.text_field :Matricula%></td>
           </tr>
           <tr>
             <td> <b>E-mail</b></td>
             <td> <%= f.text_field :Email, :size => 20 %></td>
           </tr>
           <tr>
              <td>  <b>Observações</b></td>
              <td>  <%= f.text_field :Obs %></td>
           </tr>

           <tr>
              <td colspan="2" align="right"><%= f.submit "Salvar" %></td>
           <tr/>
         </table>
     <% end %>
    </td>
     <td VALIGN=TOP><br /> 
      <font size="4"><u>OBSERVAÇÕES:</u></font> <br /> <br /> 
          1. UTILIZAR  SOMENTE LETRAS MAIÚSCULAS<br />
          2. DIGITAR SEMPRE DADOS COMPLETOS<br/>
          3. NÃO UTILIZAR ACENTUAÇÃO, TIL E CEDILHA<br />
          4. NÃO UTILIZAR ABREVIAÇÕES<br />
          5. TELEFONES SOMENTE NÚMEROS<br />
          6. EM OBSERVAÇÕES INFORMAR A FUNÇÃO EXERCIDA<br/>
          7. SE FUNCIONÁRIO PÚBLICO MUNICIPAL: <br/>
             > PREENCHER Nº MATRICULA E NO CAMPO<br/>
             > OBSERVAÇÕES INFORMAR A FUNÇÃO EXERCIDA
     </td>
   </table>
  </fieldset>
     <table>
     <td><%= button_to('Exibir',{:action => "show", :id =>@participante}, :method => "get") %></td>
     <td><%= button_to 'Voltar', voltarparticipante_path %></td>
   </table>

</div>