<div id="conteudo">
<fieldset>
  <legend><font size=6>Participante</font></legend>
 <table border="2">
  <td width="400">
   <table>
    <tr>
      <td><b>Nome:</b><%=h @participante.Nome %></td>
    </tr>
    <tr>
      <td><b>Endereço:</b> <%=h @participante.Endereco %></td>
    </tr>
    <tr>
      <td><b>Cidade:</b> <%=h @participante.Cidade %></td>
    </tr>
    <tr>
      <td><b>Bairro:</b> <%=h @participante.Bairro %></td>
    </tr>
    <tr>
      <td><b>Estado:</b> <%=h @participante.Estado %></td>
    </tr>
    <tr>
      <td><b>Fone Residencial:</b> <%=h @participante.FoneRes %></td>
    </tr>
    <tr>
      <td><b>Fone Comercial:</b> <%=h @participante.FoneCom %></td>
    </tr>
    <tr>
      <td><b>Fone Celular:</b> <%=h @participante.Cel %></td>
    </tr>
    <tr>
      <td><b>e_mail:</b> <%=h @participante.Email %></td>
    </tr>
    <tr>
      <td><b>Local de Trabalho:</b> <%=h @participante.Trabalho %></td>
    </tr>
    <tr>
      <td><b>Matricula:</b> <%=h @participante.Matricula %></td>
    </tr>
    <tr>
      <td><b>Observações:</b> <%=h @participante.Obs %></td>
    </tr>
  </table>
 </td>
</table>
</fieldset>
  <table>
    <td> <%= button_to('Editar',{:action => "edit", :id => @participante}, :method => "get") %></td>
    <td> <%= button_to 'Voltar', new_participante_path %> </td>
  </table>
</div>