<div id="conteudo">
  <div id="topo">
    <h1 align="right">Alteração do Cadastro de Unidades</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5      . </font></h4>
  </div><br/>

    <fieldset>
   <legend><font size=4>Unidade</font></legend>
    <% form_for(@unidade) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :nome, 'Nome' %><br />
        <%= f.text_field :nome %>
      </p>
      <p>
        <%= f.label :tipo, 'Tipo' %><br />
        <select id="_unidade_tipo" name="unidade[tipo]">
          <option value="0"><%=h @unidade.nome_tipo %></option>
          <option value="1">CRECHE</option>
          <option value="2">EMEI</option>
          <option value="3">CASA DA CRIANCA</option>
          <option value="4">EMEF</option>
          <option value="5">CIEP</option>
          <option value="6">TEMPO DE VIVER</option>
          <option value="7">FILANTROPICA</option>
        </select>
      </p>
      <p>
        <%= f.label :regiao_id, 'Região' %><br />
        <%= f.collection_select :regiao_id, @regiaos, :id, :nome %>
      </p>
        </fieldset>
      <br/>
      <fieldset>
        <p>
          <%= f.submit "Atualizar" %>
        </p>
      </fieldset>
    <% end %>

      <br/>
| <%= link_to 'Exibir', @unidade %> |
<%= link_to 'Voltar', unidades_path %> |
</div>