<% form_for(@participante) do |f| %>
  <%= f.error_messages %>
    <p>
      <b>Nome</b><font color="red" size="6">*</font>
      <%= f.text_field :nome %>
    </p>
    <p>
      <b>Interno</b><%= f.radio_button(:tipo_participante,1,:checked => true) %>
      <b>Externo</b><%= f.radio_button(:tipo_participante,2) %>
      <b>Matrícula</b><font color="red" size="6">*</font>
      <%= f.text_field :matricula, :size => 7%>
    </p>
    <p>
      <b>Unidade:</b>
      <%= f.collection_select :unidade_id, @unidades, :id, :nome, :include_blank => ' --- Selecione opção ---'  %>
    </p>
    <p>
      <b>Endereço</b>
      <%= f.text_field :endereco %>
    </p>
    <p>
      <b>Bairro</b>
      <%= f.text_field :bairro, :size => 10 %>
    </p>
    <p>
      <b>Cidade</b>
      <%= f.text_field :cidade, :size => 15 %>
    </p>
    <p>
      <b>Fone:</b>
      <%= f.text_field :telefone, :size => 10 %>
      <b>Celular</b><font color="red" size="6">*</font>
      <%= f.text_field :cel, :size => 10 %>
    </p>
    <p>
      <b>E-mail</b>
      <%= f.text_field :email, :size => 20 %>
    </p>
    <p>
      <b>Observações</b>
      <%= f.text_field :obs %>
    </p>
    <p>
      <%= f.submit "Salvar"%>
    </p>
<%end%>
