<br/>
<font size="4"><b><u> Resultado da Consulta</u></b></font>
  <br/>  <br/>
   <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
          <tr>
            <th bgcolor="gray">Nome</th>
            <th bgcolor="gray">Endereço</th>
            <th bgcolor="gray">Cidade</th>
            <th bgcolor="gray">Bairro</th>
            <th bgcolor="gray">Estado</th>
            <th bgcolor="gray">Fone Residencial</th>
            <th bgcolor="gray">Fone Celular</th>

         </tr>
         <% for participante in @participantes %>
         <tr>
           <td><b><center><%=h participante.nome %></b></center></td>
           <td><center><%=h participante.endereco %></center></td>
           <td><center><%=h participante.cidade %></center></td>
           <td><center><%=h participante.bairro %></center></td>
           <td><center><%=h participante.estado %></center></td>
           <td><center><%=h participante.foneres %></center></td>
           <td><center><%=h participante.cel %></center></td>

        </tr>
        <tr>
            <th bgcolor="gray"></th>
            <th bgcolor="gray"><center>e-mail</center></th>
            <th bgcolor="gray"><center>Trabalho</center></th>
            <th bgcolor="gray"><center>Fone Comecial</center></th>
            <th bgcolor="gray"><center>Matricula</center></th>
            <th bgcolor="gray" colspan="2"><center>Observações</center></th>
       </tr>
         <% for participant in @participantes %>
        <tr  >
           <th bgcolor="gray"></th>
           <td><center><%=h participant.email %></center></td>
           <td><center><%=h participant.trabalho %></center></td>
           <td><center><%=h participante.fonecom %></center></td>
           <td><center><%=h participant.matricula %></center></td>
           <td colspan="2"><center><%=h participant.obs %></center></td>

        </tr>
       <% end %>
  <% end %>
 </table>





