 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Editar Participante</h1>
      </td>
   </tr>
   <tr>
      <td>
       <table border="2" width="100%">
        <td>
         <% form_for(@participante) do |f| %>
         <%= f.error_messages %>
          <table>
             <tr>
               <td>  <b>Nome</b></td>
               <td>  <%= f.text_field :nome %></td>
             </tr>
             <tr>
               <td>  <b>Endereço</b></td>
               <td>  <%= f.text_field :endereco %></td>
             </tr>
             <tr>
               <td>  <b>Bairro</b></td>
               <td>  <%= f.text_field :bairro, :size => 20 %></td>
            </tr>
             <tr>
               <td>  <b>Cidade</b></td>
               <td>  <%= f.text_field :cidade %></td>
             </tr>
             <tr>
               <td>  <b>Estado</b></td>
               <td>  <%= f.text_field :estado, :size => 2 %></td>
             </tr>
             <tr>
               <td>  <b>Fone Residencial</b></td>
               <td>  <%= f.text_field :foneres, :size => 10 %></td>
             </tr>
             <tr>
               <td>  <b>Fone Comercial</b></td>
                <td>  <%= f.text_field :fonecom, :size => 10 %></td>
              </tr>
              <tr>
                <td> <b>Celular</b> </td>
                <td> <%= f.text_field :cel, :size => 10 %></td>
              </tr>
              <tr>
                 <td> <b>Local Trabalho</b></td>
                 <td> <%= f.text_field :trabalho %></td>
              </tr>
               <tr>
                 <td> <b>Número Matrícula</b> <br/>(Se Func.Público)</td>
                 <td> <%= f.text_field :matricula%></td>
               </tr>
               <tr>
                 <td> <b>E-mail</b></td>
                 <td> <%= f.text_field :email, :size => 20 %></td>
               </tr>
               <tr>
                 <td>  <b>Observações</b></td>
                 <td>  <%= f.text_field :obs %></td>
               </tr>
               <tr>
                 <td colspan="2" align="right"><%= f.submit "Salvar" %></td>
               <tr/>
             </table>
            <% end %>
          </td>
          <td VALIGN=TOP><br />
            <b><font size="4" color="red"><u>OBSERVAÇÕES:</u> </font><br /> <br />
            <font color="red">
             1. UTILIZAR  SOMENTE LETRAS MAIÚSCULAS<br />
             2. DIGITAR SEMPRE DADOS COMPLETOS<br/>
             3. NÃO UTILIZAR ACENTUAÇÃO, TIL E CEDILHA<br />
             4. NÃO UTILIZAR ABREVIAÇÕES<br />
             5. TELEFONES SOMENTE NÚMEROS<br />
             6. EM OBSERVAÇÕES INFORMAR A FUNÇÃO EXERCIDA<br/>
             7. SE FUNCIONÁRIO PÚBLICO MUNICIPAL: <br/>
              > PREENCHER Nº MATRICULA E NO CAMPO<br/>
              > OBSERVAÇÕES INFORMAR A FUNÇÃO EXERCIDA
           </font>
           </b>
         </td>
      </table>
     </td>
   </tr>
  </table>

  <table width="90%" align="center">
    <tr>
          <td width="8%"><%= button_to('Exibir',{:action => "show", :id =>@participante}, :method => "get") %></td>
          <td>
             <%if $Var == 1%>
               <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
             <%else%>
                <%= button_to 'Voltar', new_participante_path %>
             <%end%>
          </td>
          
    </tr>
   </table>

