 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Participantes Cadastrados</h1>
      </td>
   </tr>
   <tr>
     <td>
     <table>
       <tr>
          <td><%= button_to 'Novo Participante', new_participante_path %> </td>
           <td><%= button_to 'Inscrição', new_inscricao_path %></td>
           <td>
              <% if $var == 0 %>
                  <%= button_to 'Voltar', new_gerenciar_path %>
              <%else%>
                  <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
               <% end %>
            </td>
        </tr>
    </table>
    </td>
   </tr>
   <tr>
     <td>
        <%  $contador = 0 %>
        <table border="2">
          <tr>
            <th bgcolor="gray">Nome</th>
            <th bgcolor="gray">Cidade</th>
            <th bgcolor="gray">Fone Residencial</th>
            <th bgcolor="gray">Fone Comecial</th>
            <th bgcolor="gray">Fone Celular</th>
            <th bgcolor="gray">Trabalho</th>
            <th bgcolor="gray">Matricula</th>
            <th bgcolor="gray">Observações</th>
         </tr>
         <% for participante in @participantes %>
         <tr>
           <td><center><%=h participante.nome %></center></td>
           <td><center><%=h participante.cidade %></center></td>
           <td><center><%=h participante.foneres %></center></td>
           <td><center><%=h participante.fonecom %></center></td>
           <td><center><%=h participante.cel %></center></td>
           <td><center><%=h participante.trabalho %></center></td>
           <td><center><%=h participante.matricula %></center></td>
           <td><center><%=h participante.obs %></center></td>
        </tr>
        <tr>
          <td bgcolor="gray"colspan="12">
            <table>
               <td><%= button_to('Exibir',{:action => "show", :id => participante}, :method => "get") %></td>
               <td> <%= button_to('Editar',{:action => "edit", :id => participante}, :method => "get") %></td>
               <td><%= button_to('Excluir',{:action => "destroy", :id => participante}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
           </table>
          </td>
        </tr>
       <%  $contador = $contador + 1 %>
       <% end %>
       </table>
      </td>
   </tr>
   <tr>
     <td colspan="8"><b> Total de participantes cadastrados: <%= $contador %></b> </td>
   </tr>
  </table>
   <table width="90%" align="center">
    <tr>
       <td width="8%"><%= button_to 'Novo Participante', new_participante_path %> </td>
       <td  width="8%" ><%= button_to 'Inscrição', new_inscricao_path %></td>
       <td>
          <% if $var == 0 %>
             <%= button_to 'Voltar', new_gerenciar_path %>
          <%else%>
             <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
          <% end %>
        </td>
    </tr>
  </table>



