 <br/>
 <br/>
 <table width="40%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Participante</h1>
      </td>
   </tr>
   <tr>
      <td>
        <table align="center" border="2" width="100%">
          <td>
           <table>
             <tr>
               <td><b>Matricula:</b> <%=h @participante.matricula %></td>
             </tr>
             <tr>
               <td><b>Pertence à unidade: </b><%= @participante.unidade.nome  %></td>
             </tr>
             <tr>
               <td><b>Nome:</b><%=h @participante.nome %></td>
             </tr>
             <tr>
               <td><b>Endereço:</b> <%=h @participante.endereco %></td>
             </tr>
             <tr>
               <td><b>Cidade:</b> <%=h @participante.cidade %></td>
             </tr>
             <tr>
               <td><b>Bairro:</b> <%=h @participante.bairro %></td>
             </tr>
            <tr>
               <td><b>Fone Residencial:</b> <%=h @participante.telefone %></td>
            </tr>
            <tr>
               <td><b>Fone Celular:</b> <%=h @participante.cel %></td>
            </tr>
            <tr>
               <td><b>e_mail:</b> <%=h @participante.email %></td>
            </tr>
            <tr>
             <td><b>Observações:</b> <%=h @participante.obs %></td>
           </tr>
        </table>
      </td>
     </table>
     <br/>
     <table width="60%" align="left">
          <tr>
            <td width="8%"> <%= button_to('Editar',{:action => "edit", :id => @participante}, :method => "get") %></td>
            <td width="8%"><%= button_to 'Voltar', :back %></td>               
            <td width="8%" ><%= button_to 'Cadastrar', new_participante_path %></td>
            <td> <%= button_to 'Inscrição', new_inscricao_path(:participante => @participante) %></td>
          </tr>
        </table>
    </tr>
 </table>
  
  