<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Controle de Inscrições: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold','treinamento','menu1' %>
    <%= javascript_include_tag 'jquery-1.4.2.js','jquery.tools.min.js','jquery-ui','jrails','application.js' %>

</head>
<body>
<div id="wrap">
    <div id="header"></div>
    <div id="right"></div>
    <div id="left">
     <div style="float:left" > <!--This is the first division of left-->
      <div id="firstpane" class="menu_list"> <!--Code for menu starts here-->
            <%if logged_in? %>
            <p class="menu_head">Cadastros</p>
            <div class="menu_body">
              <%= link_to 'Cursos', new_curso_path%>
              <%= link_to "Participantes",  new_participante_path %>
              <%= link_to "Inscrição",  new_inscricao_path %>
            </div>
            <p class="menu_head">Consultas</p>
            <div class="menu_body">
              <%= link_to "Por Curso", por_curso_inscricaos_path %>
              <%= link_to_remote('Participantes', :update => "tela", :url => { :action => "consulta", :controller => 'participantes'}) %>
              <%= link_to 'Estatistica', estatistica_inscricaos_path %>
            </div>
            <p class="menu_head">Listagem</p>
            <div class="menu_body">
              <%= link_to 'Cursos', cursos_path %>
              <%= link_to "Cadastrados", participantes_path %>
           </div>
           <%else%>
            <p class="menu_head">Administrador</p>
            <div class="menu_body">
              <%= link_to 'Acessar', login_path%>
            </div>
            <p class="menu_divisor"></p>
            <p class="menu_head">Links Externos</p>
            <div class="menu_body">
              <%= link_to "Prefeitura", "http://www.americana.sp.gov.br" %>
            </div>
           <%end%>
      </div>  <!--Code for menu ends here-->
    <div id="left_down"><%= render "shared/inscrever"%></div>
  </div>
<div style="clear: both;"> </div>
</div>
</div>
</body>
</html>

